/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

@-webkit-keyframes cirAnimation {
  0% {
    fill: #00FFFF; 
  }
  100% {
    fill: #C0C0C0; 
  }
}

.cir{
  -webkit-animation-name: cirAnimation;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: infinite;
}

.player{
  fill: purple;
  stroke: black;
  stroke-width:2px;
  opacity: 0.8; 
}